---
import { getCollection } from "astro:content";
import Card from "../components/Card.astro";
import Icon from "../components/Icon.astro";
import Layout from "../layouts/Layout.astro";
import { openGraph } from 'spectre:globals';

const posts = await getCollection('posts', (post) => post.data.draft !== true);
const tags = posts.flatMap((post) => post.data.tags.map((tag) => tag.id));
---
<Layout
  title={openGraph.blog.title || "Blog"}
  description={openGraph.blog.description}
	pagefindIgnore
>
  <div class="layout-grid-left" slot="left">
    <Card class="flex-col-card">
      <h2 class="mt-0">Filter</h2>
      <ul class="flex flex-row items-center flex-wrap list-none m-0 p-0 gap-4">
        {Array.from(new Set(tags)).map((tag) => (
          <li>
            <a
              class="py-1 px-2 bg-muted text-foreground no-underline hover:bg-accent hover:text-accent-foreground focus-visible:bg-accent focus-visible:text-accent-foreground blog-tag"
              href="/blog"
              data-tag={tag}
            >
              {tag}
            </a>
          </li>
        ))}
      </ul>
    </Card>
  </div>
  <div class="layout-grid-right" slot="right">
		<Card>
			<div class="flex flex-row items-center gap-4 mb-4">
				<Icon type="lucide" name="rss" width={24} height={24} class='glow-icon' />
				<h2 class="m-0">Latest Posts</h2>
			</div>
			<div class="flex flex-col gap-4">
				{posts.sort((a, b) => b.data.createdAt.getTime() - a.data.createdAt.getTime()).map((post) => (
					<a href={`/blog/${post.id}`} class="post-container" data-tags={post.data.tags.map((tag) => tag.id).join(",")}>
						<div class="flex flex-col sm:flex-row justify-between gap-2 sm:gap-0">
							<h3>{post.data.title}</h3>
							<span class="post-date">{post.data.createdAt.toLocaleDateString()}</span>
						</div>
						<span>{post.data.description}</span>
					</a>
				))}
			</div>
		</Card>
  </div>
</Layout>
<script>
  const tags = document.querySelectorAll<HTMLAnchorElement>('.blog-tag');
  const posts = document.querySelectorAll<HTMLAnchorElement>('.post-container');
  const url = new URL(window.location.href);
  const initialTags = url.searchParams.get('tags')?.split(',').filter((tag) => tag.length > 0) || [];
  const selectedTags = new Set(initialTags);

  function updatePostsVisibility() {
    posts.forEach((post) => {
      const postTags = post.dataset.tags!.split(',');
      // if there are selected tags and the post does not have all of them, hide the post
      if (selectedTags.size > 0 && ![...selectedTags].every((tag) => postTags.includes(tag))) {
        post.style.display = 'none';
      } else {
        post.style.display = '';
      }
    });
  }

  function updateURL() {
    // create a "clean" URL for the current page before adding the new query parameters
    const newUrl = new URL(window.location.pathname, window.location.origin);
    if (selectedTags.size > 0) {
      newUrl.searchParams.set('tags', [...selectedTags].join(','));
    }
    history.pushState({ tags: [...selectedTags] }, '', newUrl);
  }

  tags.forEach((tag) => {
    const tagValue = tag.dataset.tag!;
    if (selectedTags.has(tagValue)) {
      tag.classList.add('bg-accent', 'text-accent-foreground');
    }

    tag.addEventListener('click', (event) => {
      event.preventDefault();

      tag.classList.toggle('bg-accent');
      tag.classList.toggle('text-accent-foreground');

      if (selectedTags.has(tagValue)) {
        selectedTags.delete(tagValue);
      } else {
        selectedTags.add(tagValue);
      }

      updatePostsVisibility();
      updateURL();
    });
  });

  updatePostsVisibility();
</script>
