---
import { getCollection } from "astro:content";
import Card from "../components/Card.astro";
import Icon from "../components/Icon.astro";
import Layout from "../layouts/Layout.astro";
import { openGraph } from 'spectre:globals';

const projects = await getCollection('projects');
---
<Layout
	title={openGraph.projects.title || "Projects"}
	description={openGraph.projects.description}
	pagefindIgnore
>
  <div class="flex flex-col w-full gap-8 sm:gap-4" slot="left">
    <Card class="flex flex-col">
      <h2 class="mt-0">Stats</h2>
			<div class="flex flex-col gap-4">
				<div class="flex flex-col">
					<h3 class="text-primary font-semibold text-3xl m-0 mb-2 tracking-tight">{projects.length}</h3>
					<span>Project{projects.length > 1 ? 's' : ''}</span>
				</div>
			</div>
    </Card>
  </div>
  <div class="flex flex-col w-full gap-8 sm:gap-4" slot="right">
		<Card>
			<div class="flex flex-row items-center gap-4 mb-4">
				<Icon type='lucide' name="folder-git" width={24} height={24} class='text-muted-foreground' />
				<h2 class="m-0">Latest Projects</h2>
			</div>
			<div class="flex flex-col gap-4">
				{projects.sort((a, b) => b.data.date.getTime() - a.data.date.getTime()).map((post) => (
					<a href={`/projects/${post.id}`} class="group flex flex-col gap-4 p-6 rounded-xl border border-border/50 bg-card text-foreground no-underline transition-all duration-300 hover:shadow-lg hover:shadow-primary/5 hover:-translate-y-1 hover:border-primary/20 hover:bg-card/80 backdrop-blur-sm">
						<div class="flex flex-col sm:flex-row justify-between gap-2 sm:gap-0 group-hover:gap-3 transition-all duration-300">
							<h3>{post.data.title}</h3>
							<span class="text-sm text-muted-foreground/80 font-mono group-hover:text-muted-foreground transition-colors duration-300">{post.data.date.toLocaleDateString()}</span>
						</div>
						<span>{post.data.description}</span>
					</a>
				))}
			</div>
		</Card>
  </div>
</Layout>
